<section id="homebanner">

    <div class="a3">

        <img class="a1 img-fluid" src="./assets/intro-bg.png">
        <!-- <img class="a2 img-fluid" src="./assets/intro-img.svg"> -->
        <div class="container a2">
            <div class="row align-middle">
                <div class="head-text col-md-6 col-12 mt-5">
                    <h1>{{"weProvide" | translate}}</h1> <a href="#">
                        <h1>{{"solutions" | translate}}</h1>
                    </a>
                    <h1>{{"forYourBusiness" | translate}}!</h1>
                    <button type="button"
                        class=" button1 mr-3 btn btn-lg btn-outline-primary">{{"getStarted" | translate}}</button>
                    <button type="button"
                        class="button2 btn btn-lg btn-outline-primary">{{"ourServices" | translate}}</button>

                </div>
                <div class="col-md-6 mt-5 d-none d-md-block"><img class="img-fluid" src="./assets/intro-img.svg"></div>

            </div>
            <!-- <div class="row"></div> -->
            <div class=" sep col-12"></div>
        </div>
    </div>
</section>