<footer>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 summary">
                    <h3>{{"welcome" | translate}}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="col-lg-2 col-md-6 links">
                    <h4>{{"useful links" | translate}}</h4>
                    <ul>
                        <li><a href="#">{{"home" | translate}}</a></li>
                        <li><a href="#">{{"about us" | translate}}</a></li>
                        <li><a href="#">{{"services" | translate}}</a></li>
                        <li><a href="#">{{"terms of service" | translate}}</a></li>
                        <li><a href="#">{{"privacy policy" | translate}}</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 contact">
                    <h4>{{"contact us" | translate}}</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br>
                        <span class="phone">{{"phone" | translate}}:</span> +1 5589 55488 55<br>
                        <span class="email">{{"email" | translate}}:</span> info@example.com<br>
                    </p>
                    <div class="contacts">
                        <a href="#" class="twitter">
                            <fa-icon [icon]="faTwitter"></fa-icon>
                        </a>
                        <a href="#" class="facebook">
                            <fa-icon [icon]="faFacebookF"></fa-icon>
                        </a>
                        <a href="#" class="instagram">
                            <fa-icon [icon]="faInstagram"></fa-icon>
                        </a>
                        <a href="#" class="google-plus">
                            <fa-icon [icon]="faGooglePlusG"></fa-icon>
                        </a>
                        <a href="#" class="linkedin">
                            <fa-icon [icon]="faLinkedinIn"></fa-icon>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3  newsletter">
                    <h4>{{"our newsletter" | translate}}</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <form>
                        <input type="email" name="email"><input class="submit" type="submit"
                            value="{{'subscribe'| translate}}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="copyright">
            &copy; Copyright . All Rights Reserved
        </div>
    </div>
</footer>