<section class="second forth">
    <div class="second">
        <div class="container-fluid text-center">
            <div class="row justify-content-center mt-5">
                <h1 class="col-12 mt-5 " id="header-text">{{"Why choose us" | translate}}</h1>
            </div>
            <div class="row justify-content-center mt-2 ">
                <p class="col-md-8 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="cardd m-2 p-3">
                    <fa-icon class="fa" [icon]="faGem"></fa-icon>
                    <h5 class="mt-3 mb-3">{{"Designing" | translate}}</h5>
                    <p class="p1 mb-4">Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                    <p><a>{{"read more" | translate}}</a></p>

                </div>
            </div>
            <div class="col-md-4">
                <div class="cardd m-2 p-3">
                    <fa-icon class="fa" [icon]="faLanguage"></fa-icon>
                    <h5 class="mt-3 mb-3">{{"Branding Identity" | translate}}</h5>
                    <p class="p1 mb-4">Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                    <p><a>{{"read more" | translate}}</a></p>

                </div>
            </div>

            <div class="col-md-4">
                <div class="cardd m-2 p-3">
                    <fa-icon class="fa" [icon]="faObjectGroup"></fa-icon>
                    <h5 class="mt-3 mb-3">{{"Mobile Application" | translate}}</h5>
                    <p class="p1 mb-4">Lorem Ipsum is simply dummy text of the printing and type setting industry</p>
                    <p><a>{{"read more" | translate}}</a></p>

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row numbers">
            <div class="col-3">
                <div class="m-2">
                    <h1 class="mt-3">274</h1>
                    <p>Clients</p>
                </div>
            </div>
            <div class="col-3">
                <div class="m-2">
                    <h1 class="mt-3">421</h1>
                    <p>Projects</p>
                </div>
            </div>
            <div class="col-3">
                <div class="m-2">
                    <h1 class="mt-3">1,364</h1>
                    <p>Hours of Support</p>
                </div>
            </div>
            <div class="col-3">
                <div class="m-2">
                    <h1 class="mt-3">18</h1>
                    <p>Hard Worker</p>
                </div>
            </div>
        </div>
    </div>
</section>