<section class="second" id="aboutUs">
    <div class="container-fluid text-center">
        <div class="row justify-content-center mt-5">
            <h2 class="col-12 ">{{"about us" | translate}}</h2>
        </div>
        <div class="row justify-content-center mt-2 ">
            <p class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
    </div>
</section>

<section class="second third">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-8">
                <p class="mb-4"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has
                    been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                </p>

                <div class="row">
                    <div class="col-2">
                        <span class="font-awesome-chart ">
                            <fa-icon [icon]="faShoppingBag"></fa-icon>
                        </span>
                    </div>
                    <div class="col-10">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <span class="font-awesome-chart ">
                            <fa-icon [icon]="faImage"></fa-icon>
                        </span>
                    </div>
                    <div class="col-10">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <span class="font-awesome-chart ">
                            <fa-icon [icon]="faCharBar"></fa-icon>
                        </span>
                    </div>
                    <div class="col-10">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>

            </div>
            <div id="10" class=" col-lg-5  col-4">
                <div class="mt-sm-5 mt-md-0"></div>
                <img class="img-fluid" style=" width: 100%; height:100%;" src="./assets/about-img.svg">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-7 col-lg-6 col-4">
                <!-- <div class="dotted-image"><img class=" img-fluid" src="images/dotted.jpg"></div> -->
                <div class="main"><img class="img-fluid" style=" width: 100%; height:100%;"
                        src="./assets/about-extra-1.svg">
                </div>
                <!-- <div class="overriding-image"><img class="img-fluid" src="./assets/about-extra-1.svg"></div> -->
            </div>
            <div id="10" class="col-md-5 offset-md-1 col-lg-5  col-8">
                <div class="mt-sm-5 mt-md-0"></div>
                <h2>Do Things That Matters. Plan. Create. Grow.</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five cen</p>
                <p> But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                    in the
                    1960s with the release of Letraset sheets</p>
            </div>
        </div>

        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-7 col-lg-6 col-8">
                <div class="main">
                    <h2>Do Things That Matters. Plan. Create. Grow.</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five cen</p>
                    <p> But also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the
                        1960s with the release of Letraset sheets</p>
                </div>
            </div>
            <div id="10" class="col-md-5 offset-md-1 col-lg-5  col-4">
                <div class="mt-sm-5 mt-md-0"></div>
                <img class="img-fluid" style=" width: 100%; height:100%;" src="./assets/about-extra-2.svg">
            </div>
        </div>
    </div>
</section>