
.header h3 {
    font-weight: 700;
    font-size: 36px;
    color: #283d50;
    text-align: center;
  }
  
.header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 50px;
    color: #556877;
    width: 50%;
  }
  
section {
    background: #fff;
    padding: 55px 0;
  }
  
 .member {
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  

  
 
  
 